@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model url_shortener_service.Areas.Identity.Data.Url


<h1>@Model.ShortValue </h1>
